# --- PyCharm/IDE Settings ---
.idea/
*.iml

# --- Virtual Environment ---
.venv/
venv/
ENV/

# --- Temporal/Compiled files ---
__pycache__/
*.pyc
.ipynb_checkpoints/

# --- Project Specifics ---
# Ignore heavy model files (pkl binaries)
models/*.pkl

# Ignore graphical outputs but keep the log file
outputs/*.png